{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "defaults",
                        "not ie < 11"
                    ]
                },
                "debug": false
            }
        ]
    ],
    "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties"
    ]
}