:host {
    box-shadow: 1px 1px 1px #ccc, -1px -1px 1px #ddd;
    border-radius: 5px;
    padding: 15px;
    overflow: auto;
    display: inline-block;
    font-family: Helvetica, Arial, Verdana;
    text-align: center;
}

img {
    height: 72px;
    width: 72px;
    margin: 24px;
}

.text {
    margin: 0 10px 24px 10px;
}

button {
    float: right;
    padding: 15px;
    font-size: 14px;
}
